@font-face {
    font-family: "Atkinson HyperLegible Next";
    src: url("/theme/AtkinsonHyperlegibleNext-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Atkinson HyperLegible Mono";
    src: url("/theme/AtkinsonHyperlegibleMono-VariableFont_wght.ttf");
}

html {
    background-color: #302734;
    background-image: url("/theme/bg.png");
    background-repeat: repeat-y;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

body {
    background: none;
}

code, pre {
    font-family: "Atkinson Hyperlegible Mono", monospace;
}

h2, h3 {
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 1rem 0.5rem 0.5rem;
}

ul li {
    list-style-type: none;
    width: 125%;
}

ul li::before {
    content: '• ';
}

nav > ul > li::before {
    content: '';
}

nav > ul {
    margin-left: 0.5rem;
    background-color: rgba(138,0,100,0.1);
    width:fit-content;
    padding: 1rem 2rem 1rem 0.5rem !important;
}

img {
    max-width: 100%;
}

a {
    color: lightsalmon;
    text-decoration: none;
}

a:visited {
    color: lightpink;
}

a:hover {
    color: wheat;
    text-decoration: underline;
}

a:focus {
    border-color: lightpink;
}

header > a > img {
    margin-right: 1rem;
}

@media (max-width: 500px) {
    header > a > img {
        margin-right: 0;
    }
}

header > a {
    text-decoration: none !important;
    color: white !important;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#header-title {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

/* grid */
header {
    grid-area: header;
    padding: 1.2rem 1.2rem 0;
    font-size: xx-large;
    width: 100%;
}

article {
    grid-area: content;
}

nav {
    grid-area: nav;
}

footer {
    grid-area: footer;
    margin: auto;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-gap: 1.2rem;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
        "header header"
        "nav content"
        "nav footer";
}

@media (max-width: 500px) {
    .wrapper {
        grid-template-columns: 6fr;
        grid-template-areas:
            "header"
            "nav"
            "content"
            "footer";
    }
}

/*  end of grid */